body {
	font-size: 16px;
}
a {
	cursor: pointer;
}
header {
	height: 68px;
}
nav.navbar {
	z-index: 999;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.card-post {
	position: absolute;
	bottom: 0;
	bottom: 0;
	right: 15px;
	z-index: 9;
	line-height: 4;
}
.newCompany {
  display: block;
  text-align: center;
  line-height: 1.5;
  font-size: 3.2em;
}
.newCompany .fa {
	width: 1.8em;
	height: 1.8em;
	border: 1px solid #000;
	border-radius: 50%;
	line-height: 1.8em;
}
.newPlaybook {
	float: right;
	border: 1px solid #000;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	border-radius: 50%;
}

.answerArea {
    margin: 10px 0;
    border: 1px solid #eee;
    padding: 10px;
}
.answerArea h2 {
	margin: 10px 0;
}
.tab_answer .mce-tinymce {
    margin-top: 15px;
}

.playbook .nav.nav-tabs {
    float: left;
    display: block;
    border-bottom:0;
    width: 25%;
}
.playbook .nav.nav-tabs li a {
    padding: 15px;
    border: 1px solid #dddd;
    margin-bottom: -1px;
    display: block;
}
.playbook .nav.nav-tabs li.active a {
	border-right: none;
}

.playbook .tab-content {
	float: left;
	width: 75%;
	padding-left: 30px;
}
.requestBtn {
	float: right;
	text-align: center;
	line-height: 16px;
	font-weight: 400;
	font-size: 0.8em;
	margin-left: 15px;
}
.requestBtn .fa {
	color: #999;
}
.questionCard {
	background-color: #fbfbfb;
	border: 1px solid #ddd;
	padding: 15px 15px 5px 15px;
	margin-bottom: 25px;
}
.questionCard .h5 {
	font-weight: 400;
}
.h5 span,
.h5 div {
    font-weight: normal;
    line-height: 24px;
}
.nav-tabs .nav-link {
    border-radius: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #464a4c;
    border-color: #ddd #fff #ddd #ddd;
}
.notifications ul.dropdown-menu {
	min-width:350px;
	padding: 0;
	border-radius: 0;
	right: -15px;
}
.notifications ul li.divider {
	margin: 0;
}
.notifications .notifications-wrapper {
	height:340px;
	overflow:hidden;
}
.notifications .notifications-wrapper .nano {
	height: 100%;
}
.notifications .notifications-wrapper a {
	text-decoration: none;
}
.notifications .menu-title {
	color: #ff751a;
    font-size: 1.5rem;
    line-height: 0.75;
}
.notifications .notification-heading {
	padding:2px 15px;
}
.notifications .notification-footer {
	 padding: 0;
}
.notifications .notification-footer a {
	padding:5px 15px;
	text-align: center;
	display: block;
	font-size: 0.75em;
}
.notifications .item-title, .notifications-page .item-title {
	color: #333;
    font-size: 0.75em;
    line-height: 1.34;
	margin: 0;
}
.notifications .item-info, .notifications-page .item-info {
	font-size: 0.75em;
    margin: 0;
    padding-top: 3px;
    line-height: 1.34;
}
.notifications .notification-item, .notifications-page .notification-item {
    border: 1px solid #ddd;
    margin: -1px;
	min-height: 70px;
    padding: 10px 15px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.notifications .notification-item.Unread, .notifications-page .notification-item.Unread {
	background-color: #E9EAED;
}
.notifications .notification-item.Read, .notifications-page .notification-item.Read {
	background-color: #fff;
}
.notifications .notification-item:hover, .notifications-page .notification-item:hover {
	background-color: #F6F7F8;
}
.notifications .notification-item.no-item, .notifications-page .notification-item.no-item {
	background-color: #fff;
    border: none;
    margin: 0;
    padding: 5px 15px;
	display:table;
	width:100%;
	height: 340px;
	text-align:center;
}
.notifications .notification-item.no-item .item-title, .notifications-page .notification-item.no-item .item-title {
	vertical-align: middle;
	display:table-cell;
}
.notifications .notification-image, .notifications-page .notification-image {
    float: left;
    height: 50px;
    margin: 0 10px 0 0;
    overflow: hidden;
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    max-width: 50px;
    max-height: 50px;
    position: relative;
}
.notifications .notification-image > img, .notifications-page .notification-image > img {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}






/** ================ **/
/** Notification CSS **/
/** ================ **/
.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}
.panel .btn-group {
	margin: 15px 0 30px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}
.ckbox {
	position: relative;
}
.ckbox input[type="checkbox"] {
	opacity: 0;
}
.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
}
.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
}
.table-filter .star.star-checked {
	color: #F0AD4E;
}
.table-filter .star:hover {
	color: #ccc;
}
.table-filter .star.star-checked:hover {
	color: #F0AD4E;
}
.table-filter .media-photo {
	width: 60px;
	margin-top: 5px;
}
.table-filter .media-body {
    display: block;
}
.table-filter .media-meta {
	font-size: 11px;
	color: #999999;
	margin: 5px;
}
.table-filter .media .title {
	color: #796AEE;
	font-size: 20px;
	font-weight: bold;
	line-height: normal;
	margin-left: 10px;
	text-shadow: 1px 1px rgba(0,0,0,0.4);
}
.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}
.table-filter .media .title span.default {
	color: #ffffff;
	background: #428bca;
	padding: 2px 7px;
	border-radius: 4px;
	text-shadow: 1px 1px rgba(0,0,0,0.4);
	letter-spacing: 1px;
	font-size: 12px;
}
.table-filter .media .title span.success {
	color: #ffffff;
	background: #5cb85c;
	padding: 2px 7px;
	border-radius: 4px;
	text-shadow: 1px 1px rgba(0,0,0,0.4);
	letter-spacing: 1px;
	font-size: 12px;
}
.table-filter .media .title span.warning {
	color: #ffffff;
	background: #f0ad4e;
	padding: 2px 7px;
	border-radius: 4px;
	text-shadow: 1px 1px rgba(0,0,0,0.4);
	letter-spacing: 1px;
	font-size: 12px;
}
.table-filter .media .title span.danger {
	color: #ffffff;
	background: #d9534f;
	padding: 2px 7px;
	border-radius: 4px;
	text-shadow: 1px 1px rgba(0,0,0,0.4);
	letter-spacing: 1px;
	font-size: 12px;
}
.table-filter .media .summary {
	font-size: 14px;
	text-align: left;
	margin-left: 10px;
}
.table-filter .media .media-body div {
    float: left;
	width: 98%;
	font-weight: normal;
	margin: 10px 0 15px 10px;
	background: #e6f0e1;
	padding: 10px 15px;
	border-radius: 4px;
	color: #1f1f1f;
	word-break: break-all;
	border: 1px solid #ddd;
}
.table-filter .media .media-body div ul {
    margin-left: 20px;
	list-style: none;
}
.table-filter .media .media-body div ul li::before {
    content: "■";
    color: #000000;
    font-size: 22px;
    margin-right: 7px;
}
/** ================ **/
/** Notification CSS **/
/** ================ **/





label.error {
  color: #ff0000;
  font-size: 0.75em;
}
.btn-group.btn-group-justified {
	width: 100%;
	display: table;
}
.btn-group.btn-group-justified .btn {
	border-radius: 0;
}
.btn-group.btn-group-justified.short .btn{
	display: table-cell;
	text-align: center;
	width: auto;
}
.btn-group.btn-group-justified.list .btn{
	display: table-row;
	white-space: normal;
	float: left;
	margin-bottom: 10px;
	border-radius: 0;
	text-align: left;
	width: 100%;
	font-size: 16px;
}
.btn-group.btn-group-justified.star .btn{
	display: table-cell;
	text-align: center;
	width: auto;
}
.question-row.short .requestBtn{
	margin-top: -20px;
}


.new-playbook .nav-pills.nav-wizard {
	width: 100%;
	display: table;
	margin-bottom: 20px;
}
.new-playbook .nav-pills.nav-wizard > li {
  	position: relative;
  	overflow: visible;
  	border-right: 15px solid transparent;
  	border-left: 15px solid transparent;
  	display: table-cell;
  	text-align: center;
}
.new-playbook .nav-pills.nav-wizard > li + li {
  	margin-left: 0;
}
.new-playbook .nav-pills.nav-wizard > li:first-child {
  	border-left: 0;
}
.new-playbook .nav-pills.nav-wizard > li:first-child a {
  	border-radius: 5px 0 0 5px;
}
.new-playbook .nav-pills.nav-wizard > li:last-child {
  	border-right: 0;
}
.new-playbook .nav-pills.nav-wizard > li:last-child a {
  	border-radius: 0 5px 5px 0;
}
.new-playbook .nav-pills.nav-wizard > li a {
	border-radius: 0;
	background-color: #eee;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	padding: 0.5em;
	font-size: 0.8em;
	line-height: 2.35;
	transition: all 0.3s;
}
.new-playbook .nav-pills.nav-wizard > li:not(:last-child) a:after {
  	position: absolute;
  	content: "";
  	top: 0px;
  	right: -20px;
  	width: 0px;
  	height: 0px;
  	border-style: solid;
  	border-width: 20px 0 20px 20px;
  	border-color: transparent transparent transparent #eee;
  	z-index: 150;
  	transition: all 0.3s;
}
.new-playbook .nav-pills.nav-wizard > li:not(:first-child) a:before {
  	position: absolute;
  	content: "";
  	top: 0px;
  	left: -20px;
  	width: 0px;
  	height: 0px;
  	border-style: solid;
  	border-width: 20px 0 20px 20px;
  	border-color: #eee #eee #eee transparent;
  	z-index: 150;
  	transition: all 0.3s;
}
.new-playbook .nav-pills.nav-wizard > li:hover:not(:last-child) a:after {
  	border-color: transparent transparent transparent #aaa;
}
.new-playbook .nav-pills.nav-wizard > li:hover:not(:first-child) a:before {
  	border-color: #aaa #aaa #aaa transparent;
}
.new-playbook .nav-pills.nav-wizard > li:hover a {
  	background-color: #aaa;
  	color: #fff;
}
.new-playbook .nav-pills.nav-wizard > li:not(:last-child) a.active:after {
  	border-color: transparent transparent transparent #428bca;
}
.new-playbook .nav-pills.nav-wizard > li:not(:first-child) a.active:before {
  	border-color: #428bca #428bca #428bca transparent;
}
.new-playbook .nav-pills.nav-wizard > li a.active {
  	background-color: #428bca;
  	color: #fff;
}
.mainCard {
	margin-bottom: 20px;
	height: 32px;
}
.card-close .videoSkipBtn {
    margin-top: -3px;
}
.new-playbook .headingTabs {
	width: 100%;
	display: table;
	margin-bottom: 0;
}
.new-playbook .headingTabs li {
	display: table-cell;
	text-align: center;
	counter-increment: myIndex;
	position: relative;
}
.new-playbook .headingTabs li a {
	padding: 0;
}
.new-playbook .headingTabs li a span:before {
	content: counter(myIndex);
	line-height: 32px;
	color: #333;
}
.new-playbook .headingTabs li:hover a span {
	background-color: #aaa;
}
.new-playbook .headingTabs li:hover a span:before {
	color: #fff;
}
.new-playbook .headingTabs li a.active span:before {
	color: #fff;
}
.new-playbook .headingTabs li a span {
	background-color: #fff;
	border: 1px solid #333;
	width: 32px;
	height: 32px;
	display: inline-block;
	border-radius: 50%;
	position: relative;
	z-index: 1;
}
.new-playbook .headingTabs li a.active span {
	background-color: #333;
}
.new-playbook .headingTabs li a:before {
	border-top: 1px solid #333;
	position: absolute;
}
.new-playbook .headingTabs li a b {
	border-top: 1px solid #333;
	position: absolute;
	top: 50%;
	width: 100%;
	left: 0;
}
.new-playbook .headingTabs li:first-child a b {
	left: 50%;
}
.new-playbook .headingTabs li:last-child a b {
	width: 50%;
}
.new-playbook .questionCard .headingName {
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

.tab-video {
    height: 100%;
    width: 100%;
    object-fit: fill;
    z-index: -100;
    right: 0;
    bottom: 0;
    background: url(../img/poster.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.index-video-wrapper {
    height: 100%;
    width: 100%;
    background: url(../img/poster.jpg) no-repeat center center;
    background-size: cover;
}
.playbook-title{
  font-size: large;
  font-weight: bold;
}
.playbook-list{
	margin-bottom: 1em;
}
.playbook-list-department{
	background: #fff !important;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body {
		font-size: 13px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	body {
		font-size: 13px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	body {
		font-size: 12px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	body {
		font-size: 14px;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	body {
		font-size: 14px;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	body {
		font-size: 14px;
	}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	body {
		font-size: 14px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	body {
		font-size: 14px;
	}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
	body {
		font-size: 15px;
	}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
	body {
		font-size: 16px;
	}
	.new-playbook .nav-pills.nav-wizard > li a {
		line-height: 2.1;
	}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	body {
		font-size: 13px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	body {
		font-size: 13px;
	}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
	body {
		font-size: 13px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
	body {
		font-size: 13px;
	}
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
	body {
		font-size: 13px;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
	body {
		font-size: 13px;
	}
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
	body {
		font-size: 14px;
	}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
	body {
		font-size: 14px;
	}
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
	body {
		font-size: 13px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
	body {
		font-size: 13px;
	}
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
	body {
		font-size: 13px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
	body {
		font-size: 13px;
	}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
	body {
		font-size: 13px;
	}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
	body {
		font-size: 13px;
	}
}
